
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-image: url("./images/bg-bottom.svg"), url('./images/bg-top.svg');
  background-position: left bottom,right top;
  background-repeat: no-repeat;
  background-color: hsl(240, 78%, 98%);
  font-family: Montserrat;
  font-size: 15px;
}

h1 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.monthly-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 10px;
}

section {
  margin-top: 20px;
  width:400px;
  height: 500px;
  border: 2px solid white;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

h3,p, button {
  text-align: center;
}

button {
  margin-left: auto;
  margin-right: auto;
}

.basic, .professional, .master {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

hr {
  border: 0.04px solid rgb(211, 209, 209);
  width: 350px;
}

.price {
  font-size: 50px;
  margin-top:0px;
}

h3 {
  padding-bottom: 0px;
}

button {
  width: 350px;
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: white;
  color: white;
  border: none;
  font-weight:700;
  background-image: linear-gradient(to right,hsl(236, 72%, 79%),hsl(237, 63%, 64%))
}

.basic:hover , .professional:hover , .master:hover  {
  background-image: linear-gradient(to right,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
  color: white;
  top:-50px; 
  left:-35px;
  z-index:999; 
  
  transform: scale(1.15);
  transition-property: all; 
  transition-timing-function: ease

}

.basic:hover button , .professional:hover button, .master:hover button {
  background-image: linear-gradient(90deg,white,white);
  color: hsl(237, 63%, 64%);
  cursor: pointer;
}

/* For Toggle Button*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

 .switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-container h3 {
  padding-right: 10px;
  padding-left: 10px;
}